body {
    background-color: #EDEAE5;
    background-image: url("../img/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arimo', sans-serif;
}

.navbar {
    background-color: #FCE181;
    color: #026670;
    font-size: 19px;
}

.navbar-brand, .nav-link {
    color: #026670;
}

.nav-link:hover {
    color: #33AD93;
    background-color: #FEF9C7;
}

.dropdown-menu, .dropdown-item {
    background-color: #FCE181;
    color: #026670;

}

.dropdown-item:hover {
    background-color: #FEF9C7;
    color: #33AD93;   
}

#homepage-box, #register-box, #user-box {
    color: #026670;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5rem;
    background-color: rgba(159,237,215, 0.9);
    padding: 3rem;
    text-align: center;
}

#user-box {
    height: 20rem;
}

.btn, button {
    background-color: #BFB000;
    color: #FFFEF0;
}
.btn:hover, button:hover {
    background-color: #918600;
    color: #E2E1D5;
}

#developers-box, #about-box {
    background-color: rgba(252, 225, 129, 0.9);
    color: #026670;
    padding: 2rem;
    margin: 2rem;
    font-weight: bold;
    font-size: 20px;
} 