{% extends 'base.html' %}

{% if session.get('user_id') %}
    <!-- Add Navbar from navbar.html file -->
    {% include 'navbar.html' %}
{% else %}
    <!-- Add Navbar from navbar-pre-login.html file -->
    {% include 'navbar-pre-login.html' %}
{% endif %}

{% block content %}
    <div id="about-box" class="mx-auto" style="width: 1000px;">
        <h3>BestNeighbor</h3>
            <p class="text-justify">
                The COVID_19 pandemic has severely impacted the most vulnerable members of our community, and it has strained those working on the frontlines of the response. Our team wanted to provide our community with a tool where people in need can ask for help in getting grocery items, and volunteers can log in and provide the help.
                A user in need could range from a person whose health makes them vulnerable enough to leave the house, a healthcare worker who’s too busy in the frontlines to get groceries for their family, or a single parent who can’t leave their kids alone.
                Through BestNeighbor, a person in need of help can provide a wishlist of items they need from a local store along with their zip-code. Volunteers can then log in and see wishlists available within a selected zip-code. These two users will be able to contact each other and coordinate payment and delivery.
            </p>
    </div>
    <div id="developers-box" class="mx-auto" style="width: 1000px;">
        <h5>About the Developers:</h5>
        <li><a href="https://www.linkedin.com/in/johanna-kinsler-76562463/">Johanna Kinsler</a> is a former automotive engineer and project manager turned software engineer. She is passionate about using data in decision making. She is looking for work in full stack, back end, and data engineering.</li>
        <li><a href="https://www.linkedin.com/in/nicholereyes/">Nichole Reyes</a> is a software engineer with 5 years of mechanical and project engineering experience. She's now in search of software engineering opportunities in a mission driven company.</li>
        <li><a href="https://www.linkedin.com/in/bahar-asefi-19154218a/">Bahar Asefi</a> Entrepreneur turned developer interested in backend and full stack engineering.</li>
        <li><a href="https://www.linkedin.com/in/daiyichen/">Yichen Dai</a> Previously a pioneer full-time world language teacher, with extensive experience in project planning, management and interpersonal communication. She also likes to be creative and solve problems, and she's deeply passionate about learning new technologies. Yichen has been learning Python and Javascript for the last year, and is excited to continue her growth as an software engineer and contribute to solve real life problem via technologies.</li>
        <li><a href="https://www.linkedin.com/in/jessicachauhuynh/">Jessica Huynh</a> is a software engineer with experience in managing a small team in the biotech industry. She decided she was ready for a change when Python began automating her out of her job. With her new skills she hopes to make people’s days more efficient so they can spend time on the more important things in life.</li>
        <li><a href="https://www.linkedin.com/in/kimberlymchuc/">Kimberly Chuc</a> is a former EMT turned software engineer. Her passion for problem solving and helping others inspires her to code, creating projects that make difficult tasks in life a lot easier. She looks forward to contributing her skills to her next role as a full stack engineer.</li>
        <li><a href="https://www.linkedin.com/in/lauren-maghran/">Lauren Maghran</a> currently works in the environmental field, but is changing careers to software engineering. Lauren is a curious person, love learning, and appreciate clever solutions!</li>
        <li><a href="https://www.linkedin.com/in/amber-chan-38634396">Amber Chan</a> is a software engineer with former recruiting and accounting experience. She’s excited to integrate her interpersonal and detail oriented skills from her previous roles in her next job!</li>
    </div>


{% endblock %}