{% extends 'base.html' %}

{% if session.get('user_id') %}
    <!-- Add Navbar from navbar.html file -->
    {% include 'navbar.html' %}
{% else %}
    <!-- Add Navbar from navbar-pre-login.html file -->
    {% include 'navbar-pre-login.html' %}
{% endif %}

{% block content %}
    <div id="about-box" class="mx-auto" style="width: 1000px;">
        <h3>BestNeighbor</h3>
        <div>
            <p class="text-justify">
                The COVID_19 pandemic has severely impacted the most vulnerable members of our community, and it has strained those working on the frontlines of the response. Our team wanted to provide our community with a tool where people in need can ask for help in getting grocery items, and volunteers can log in and provide the help.
                A user in need could range from a person whose health makes them vulnerable enough to leave the house, a healthcare worker who’s too busy in the frontlines to get groceries for their family, or a single parent who can’t leave their kids alone.
                Through BestNeighbor, a person in need of help can provide a wishlist of items they need from a local store along with their zip-code. Volunteers can then log in and see wishlists available within a selected zip-code. These two users will be able to contact each other and coordinate payment and delivery.
            </p>
        </div>
    </div>
    <div id="developers-box" class="mx-auto" style="width: 1000px;">
        <h5>About the Developers:</h5>
        <li><a href="https://www.linkedin.com/in/johanna-kinsler-76562463/" class="stretched-link">Johanna Kinsler</a> is a former automotive engineer and project manager turned software engineer.</li>
        <li><a href="https://www.linkedin.com/in/nicholereyes/" class="stretched-link">Nichole Reyes</a> is a software engineer with 5 years of mechanical and project engineering experience.</li>
        <li><a href="https://www.linkedin.com/in/bahar-asefi-19154218a/" class="stretched-link">Bahar Asefi</a> Entrepreneur turned developer interested in backend and full stack engineering.</li>
        <li><a href="https://www.linkedin.com/in/daiyichen/" class="stretched-link">Yichen Dai</a> Previously a pioneer full-time world language teacher, with extensive experience in project planning, management and interpersonal communication.</li>
        <li><a href="https://www.linkedin.com/in/jessicachauhuynh/" class="stretched-link">Jessica Chuynh</a> Found a new interest in Full-Stack Web Development and currently learning the basics: HTML, CSS, Git, GitHub, Python and JavaScript.</li>
        <li><a href="https://www.linkedin.com/in/kimberlymchuc/" class="stretched-link">Kim Chuc</a> Aspiring healthcare provider turned Software Engineer.</li>
        <li><a href="https://www.linkedin.com/in/lauren-maghran/" class="stretched-link">Lauren Maghran</a> Currently works in the environmental field, but is changing careers to software engineering. Lauren is a curious person, love learning, and appreciate clever solutions!</li>
        <li><a href="https://www.linkedin.com/in/amber-chan-38634396" class="stretched-link">Amber Chan</a> is a software engineer with former recruiting and accounting experience.</li>

    </div>


{% endblock %}