
{% extends "base.html" %}
<!-- Add Navbar from navbar.html file --> 
{% include 'navbar.html' %}

{% block content %}

<body>
  <div id="asker-homepage" class="mx-auto text-justify" style="width: 700px;">
  <h2>Add to Wishlist</h2>
  <div id="add_to_wishlist">
    <form action="/create" method="post">
      <label for="wishlist">Add to Wishlist:</label>
      <textarea id="wishlist" name="wishlist" 
                      rows="10" 
                      cols="60"
                      maxlength='1000'
                      minlegth='5'
                      ></textarea>
      <label for="inputZip">Zipcode</label>
      <input name="zipcode" type="text" class="form-control" id="inputZip" placeholder="Zip Code*" name='zipcode' maxlength="5" style="width: 100px;"></input>
      <br>
      <button type="submit" id="create-wishlist">Create Wishlist</button>
    </form>
  </div>

  <!-- display wishlist after it's submitted -->
  <!-- GET request to the server to get user's incomplete wishlists and status (inprogress/incomplete)-->
  <div>
    <h2>Active Wishlist: </h2>
    <br>
    <div id="ineed"></div>
    <script>
      "use strict";

      $(document).ready( () => {
        console.log('0');
        $.get('/incomplete', (res) => {
          for (const trip of res.trips) {
            console.log(trip);
            let order = $(`

            <div class="user-wishlists">
              <table class="user-wishlists table">
                  <thead>
                      <tr>
                          <th scope="col">Wishlist: # ${trip.wishlist_id}</th>
                          <th scope="col">Status:</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="col">${trip.wishlist}</td>
                          <br>
                          <td scope="col">${trip.status}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
                    `);
            // console.log(order);
            $('#ineed').append(order);
          }; // end for
          
        }); // end get
      }); // end loading document     

    </script>
</div>
  <!-- wishlist shows completed/not completed status -->
  <!-- edit wishlist option -->

</body>

{% endblock %}