
{% extends "base.html" %}
<!-- Add Navbar from navbar.html file --> 
{% include 'navbar.html' %}

{% block content %}

{% if session.logged_in %}
    <h2>{{session.user_full_name}}'s Wishlist</h2>

<body>
  <h2>Add to Wishlist</h2>
  <div id="add_to_wishlist">
    <form action="/create" method="post">
      <label for="wishlist">Add to Wishlist:</label>
      <textarea id="wishlist" name="wishlist" 
                      rows="10" 
                      cols="60"
                      maxlength='1000'
                      minlegth='5'
                      placeholder="Add to wishlist.."
                      ></textarea>
      <input type="text" id="zipcode" name='zipcode'maxlength="5"></input>
      <input type="submit"></input>
    </form>
  </div>

  <!-- display wishlist after it's submitted -->
  <!-- GET request to the server to get user's incomplete wishlists and status (inprogress/incomplete)-->
  <div>
    <h2>Active Wishlist: </h2>
    <br>
    <script>
        $.get('/incomplete'), data, (res) => {
                const activeWishlist = (`
                <div class="user-wishlists">
                  <table class="user-wishlists">
                      <thead>
                          <tr>
                              <th scope="col">Wishlist #:</th>
                              <th scope="col">Status:</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="col">${res.wishlist}</th>
                              <th scope="col">${res.status}</th>
                          </tr>
                      </tbody>
                  </table>
                </div>
                        `)
            }
            {activeWishlist}
    </script>
</div>
  <!-- wishlist shows completed/not completed status -->
  <!-- edit wishlist option -->

</body>
{% endif %}