{% extends 'base.html' %}
<!-- Add Navbar from navbar-pre-login.html file -->
{% include 'navbar-pre-login.html' %}
{% block content %}

<div id="register-box" class="mx-auto" style="width: 400px;">
    <h3>Create an Account!</h3>
    <form action="/register" method="POST">
        <input name="email" placeholder="Email*" required><br>
        <input name="zipcode" placeholder="Zip Code*" required><br>
        <input name="username" placeholder="User Name*" required><br>
        <input name="password" type="password" placeholder="Password*" required><br>
        &nbsp; &nbsp; * Required<br>
        <button type="submit">Create Account</button>
    </form>
</div>

{% endblock %}
