{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/styles.css"/>

<b><h2>Wishlist Items:</h2></b>

<script>
    $.get('/single_wishlist.json', data, (res) => {
        (`${trip_info['wishlist_id']}
        <br>
        ${trip_info['wishlist']}
        <br>
        ${trip_info['wishlist_progress']}
        `);
    });

    $('#btn').on('click', (evt) => {
        evt.preventDefault();
    });

</script>

<script>
    $.get('/incomplete'), data, (res) => {
            const activeWishlist = (`
            <div class="user-wishlists">
              <table class="user-wishlists">
                  <thead>
                      <tr>
                          <th scope="col">Wishlist #:</th>
                          <th scope="col">Status:</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="col">${res.wishlist}</th>
                          <th scope="col">${res.status}</th>
                      </tr>
                  </tbody>
              </table>
            </div>
                    `)
        }
        {activeWishlist}
</script>

<br>
<button type="button" action="/inprogress" class="btn btn-primary">Choose this wishlist</button>
<br>
<b>Click this button once the wishlist items have been delivered: </b>
<button type="button" action="/completed" class="btn btn-primary">Completed</button>
