{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/styles.css"/>

<b><h2>Wishlist Items:</h2></b>

<script>
    $.get('/single_wishlist.json', data, (res) => {
        (`${trip_info['wishlist_id']}
        <br>
        ${trip_info['wishlist']}
        <br>
        ${trip_info['wishlist_progress']}
        `);
    });

    $('#btn').on('click', (evt) => {
        evt.preventDefault();
    });

</script>

<br>
<button type="button" action="/completed" class="btn btn-primary">Choose this wishlist</button>
<button type="button" action="/completed" class="btn btn-primary">Completed</button>
