{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/styles.css"/>

<b><h2>Wishlist Items:</h2></b>

<script>
    "use strict";

    $.get('/single_wishlist.json', data, (res) => {
        const singleWishlist =(`
        <div class="single-wishlist">
            ${res.wishlist_id}
            <br>
            ${res.wishlist}
            <br>
            ${res.wishlist_progress}
        </div>`)
    });

    {singleWishlist}

    $('#inprogressbtn').on('submit', (evt) => {
        evt.preventDefault();
        console.log('0');
        }); // end submit

        $(document).ready( () => {
            console.log('0');
            $.get('/inprogress', (res) => {
              console.log(res);
              const inprogressWishlist = (`
              <div class="user-wishlists">
                <table class="user-wishlists">
                     <thead>
                         <tr>
                             <th scope="col">Wishlist #:</th>
                             <th scope="col">Status:</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <th scope="col">${res.wishlist}</th>
                             <th scope="col">${res.status}</th>
                         </tr>
                     </tbody>
                 </table>
               </div>
                       `)
               {inprogressWishlist}
            }); // end get
          }); // end loading document

    $('#completedbtn').on('submit', (evt) => {
        evt.preventDefault();
        console.log('0');
        }); // end submit

        $(document).ready( () => {
            console.log('0');
            $.get('/completed', (res) => {
                console.log(res);
                const completedWishllist = (`
                <div class="user-wishlists">
                <table class="user-wishlists">
                        <thead>
                            <tr>
                                <th scope="col">Wishlist #:</th>
                                <th scope="col">Status:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">${res.wishlist}</th>
                                <th scope="col">${res.status}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                        `)
                {completedWishllist}
            }); // end get
            }); // end loading document

</script>

<script>
    $.get('/incomplete'), data, (res) => {
            const activeWishlist = (`
            <div class="user-wishlists">
              <table class="user-wishlists">
                  <thead>
                      <tr>
                          <th scope="col">Wishlist #:</th>
                          <th scope="col">Status:</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="col">${res.wishlist}</th>
                          <th scope="col">${res.status}</th>
                      </tr>
                  </tbody>
              </table>
            </div>
                    `)
        }
        {activeWishlist}
</script>

<br>
<button type="submit" id="inprogressbtn">Volunteer for this wishlist</button>
<br>
<b>Click this button once the wishlist items have been delivered: </b>
<button type="submit" id="completedbtn">Wishlist Completed!</button>

{% endblock %}