{% extends 'base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<div id="homepage-box" class="mx-auto" style="width: 500px;">
    <a class="btn btn-primary btn-lg btn-block" href="/volunteer-homepage" role="button">Volunteer</a>
    <a class="btn btn-primary btn-lg btn-block" href="/asker-homepage" role="button">Ask</a>
</div>

<!-- Add Navbar from navbar.html file -->
<!-- {% include 'navbar.html' %}

{% block content %}

<button type="button" action="/asker-homepage" class="btn btn-primary">Ask for groceries!</button>
<button type="button" action="/volunteer-homepage" class="btn btn-primary">Volunteer to get groceries!</button> -->

{% endblock %}