{% extends 'base.html' %}
<!-- Add Navbar from navbar.html file --> 
{% include 'navbar.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<div id="user-box" class="mx-auto" style="width: 500px;">
    <a class="btn btn-lg btn-block" href="/volunteer-homepage" role="button">Volunteer</a><br>
    <a class="btn btn-lg btn-block" href="/asker-homepage" role="button">Ask</a><br>
    <a class="btn btn-lg btn-block" href="#" role="button">Sponsor</a>
</div>
{% endblock %}