{% extends "base.html" %}

{% include 'navbar.html' %}
{% block content %}

<br>
<div>
    <h2>Active Orders: </h2>
    <br>
    <div class="container container-fluid" id="wishlists">
    </div>

    <script>
        $.get('/trips.json', (res) => {
            console.log(res);
            for (const trip of res) {
                const trip_id = trip.trip_id;
                const trip_progress = trip.trip_progress;

                console.log(trip_id)
                console.log(trip_progress)

                $('#wishlists').append(`
                    <div class="row" id="user-wishlists">
                        <p>
                            ${trip_id}
                        </p>
                        <br>
                        <p>
                            ${trip_progress}
                        </p>
                    </div>
                            `)
              
            }; // end for
          }); // end get

    </script>
</div>
<br>

<a class="btn btn-lg" href="/volunteer-all-wishlist" role="button">View all available wishlists</a><br>
<br>

{% endblock %}
