{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/styles.css"/>


<h2>{{session.user_full_name}}'s Dashboard</h2>

<br>
<div>
    <h2>Active Orders: </h2>
    <br>
    <script>
        $.get('/trips.json'), data, (res) => {
            for (const trip of trips) {
                const activeOrders = (`
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order #:</th>
                                <th>Status:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each trip}}
                                <tr>
                                    <td>${trip_id}</td>
                                    <td>${trip_progress}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>`);
            }
        }
    </script>
</div>
<br>

<button type="button" action="/wishlists.html" class="btn btn-primary">View available wishlists</button>
<br>

{% endblock %}
