{% extends 'base.html' %}
<!-- Add Navbar from navbar.html file --> 
{% include 'navbar.html' %}
{% block content %}


<h2>Wishlists</h2>
<br>

<div>
    <script>
        $.get('/wishlistInfo.json'), data, (res) => {
            for (const wishlist of res) {(`
                <div class="list-group">
                    <a href="/wishlists/{wishlist_id}" class="list-group-item list-group-item-action">${wishlist.wishlist_id}(${wishlist.wishlist_progress})</a>
            `);
        }
        }
    </script>
</div>

{% endblock %}